:root {
  --dark-blue: #181f4d;
  --race-yellow: #f5b40e;
  --white-oppacity-10: rgba(255, 255, 255, 0.1);
}

h2   {color:white}
p    {color:white}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(135deg, rgba(31,123,229,1) 0%, rgba(58,139,232,1) 47%, rgba(70,153,234,1) 92%, rgba(72,156,234,1) 100%);*/
    background: url('../images/fondo_reducido.jpg') no-repeat center center fixed;
    /* background-size: 100% 100%; */
    font-family: 'Quicksand', sans-serif;
}

.btn-guardar {
    background-color: var(--race-yellow);
    border-radius: 0.5rem;
    border-color: var(--race-yellow);
    transition: 0.5s;
    margin-top: 15px;
    font-weight: 700;
    color: #1c1c1c !important;
}

.btn-guardar:hover {
    background-color: var(--dark-blue);
    border-color: var(--race-yellow);
    color: var(--race-yellow) !important;
}

.estilo-placeholder {
    /*background-color: var(--white-oppacity-10);*/
    background-color: transparent;
    border: 2px solid var(--race-yellow);
    color: #FFF;
    border-radius: 0.5rem !important;
}

.estilo-placeholder:focus {
    border: 1px solid var(--race-yellow) !important;
    background-color: var(--white-oppacity-10) !important;
    box-shadow: none !important;
}

.estilo-placeholder:active {
    border: 1px solid var(--race-yellow) !important;
    background-color: var(--white-oppacity-10) !important;
    box-shadow: none !important;
}


.card-container.card {
    width: 300px;
    max-width: 350px;
    padding: 40px 40px;
}

/*.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}*/

/*
 * Card component
 */
.card {
    background-color: var(--dark-blue);
    color: #FFF;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 8%;
    /* shadows and rounded borders */
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; */
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    border-radius: 0.5rem;
}

.form-signin .form-control:focus {
    border: 2px solid #ca5464;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162); */
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    /*background-color: rgb(104, 145, 162);
    / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}